@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
.g-btn {
  font-weight: bold;
  border: none;
  color: white;
  padding: 1.5rem 2.5rem;
  border-radius: 1rem;
  text-transform: uppercase;
  margin: 0 0.5rem;
  transition: all ease 80ms;
  position: relative;
  top: 0;
  display: inline-block; }

html {
  font-family: 'Montserrat';
  font-size: 8px; }

body {
  font-size: 2rem;
  color: #2c1c1c; }

h4 {
  font-size: 2rem; }

.g-basic-card {
  background-color: white;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.18);
  padding: 4rem; }
  .g-basic-card .title-section {
    font-weight: normal;
    font-size: 3rem; }

.g-btn {
  /* SELECCION DE COLORES */
  color: #ffffff;
  background-color: #39B8FF;
  box-shadow: 0px 6px 0px #0097ec; }
  .g-btn:hover {
    background-color: #6ccaff;
    box-shadow: 0px 6px 0px #06a6ff; }
  .g-btn:active {
    background-color: #39B8FF;
    /* se restan 6px para simular el movimiento del boton */
    box-shadow: 0px 0px 0px #0076b9;
    top: 6px; }

.grid-layout .show-value {
  font-size: 4.5rem; }

.grid-layout label {
  font-weight: 600;
  font-size: 2rem; }

.g-action-button-panel ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #e2e2e2;
  border-radius: 1rem; }
  .g-action-button-panel ul li {
    display: inline-block;
    margin: 0; }
    .g-action-button-panel ul li a {
      font-size: 2rem;
      border: none;
      border-radius: 0;
      color: #2c1c1c;
      padding: 0.8rem 2.5rem 0.8rem 2.5rem;
      margin: 0 -2px; }
      .g-action-button-panel ul li a:hover {
        background-color: #39B8FF;
        color: #fff; }
      .g-action-button-panel ul li a.active {
        background-color: #39B8FF;
        color: #fff; }
      .g-action-button-panel ul li a i {
        position: relative;
        top: 1px;
        margin-left: 1rem; }
    .g-action-button-panel ul li:first-child a {
      border-radius: 1rem 0 0 1rem; }
    .g-action-button-panel ul li:last-child a {
      border-radius: 0 1rem 1rem 0; }

form input[type="text"], form input[type="time"], form input[type="date"], form select {
  border-radius: 0.5rem;
  border: 1px solid #c4c4c4;
  padding: 1rem 1rem;
  width: 100%;
  background-color: white; }

form .border-red {
  border: 1px solid #E60965 !important; }

form .border-yellow {
  border: 1px solid #FFE162 !important; }

form label {
  margin-left: 0.5rem; }

form .row {
  margin-top: 2rem; }
  form .row > div {
    margin-bottom: 2rem; }

form .button-panel {
  display: flex;
  justify-content: end; }

form input:disabled {
  border-color: #eaeaea !important; }

.g-administration-item-layout .container-table {
  border-radius: 1rem;
  border: 1px solid #c4c4c4;
  padding: 0;
  overflow: hidden; }
  .g-administration-item-layout .container-table table tr td {
    padding: 0.6rem 2rem; }
  .g-administration-item-layout .container-table table td.active {
    background-color: #39B8FF;
    color: #ffffff; }

.g-administration-item-layout .title-section {
  padding-left: 1rem; }

.g-administration-item-layout form {
  margin-top: 3rem;
  padding-left: 1rem;
  min-height: 36rem; }
  .g-administration-item-layout form .input-eta input {
    width: 10rem;
    margin-right: 0.8rem; }

#notification {
  position: fixed;
  left: 3rem;
  bottom: 2rem; }
  #notification .notification-card {
    display: none;
    margin-bottom: 1rem; }
  #notification .popup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 37.5rem;
    text-align: left;
    font-weight: bold;
    border-radius: 1rem;
    background-color: white;
    padding: 1rem 2rem 1rem 3rem; }
    #notification .popup i {
      font-size: 3.5rem;
      margin-right: 1.2rem; }
  #notification .done {
    color: #17D7A0;
    border: 2px solid #17D7A0; }
  #notification .alert {
    color: #2c1c1c;
    border: 2px solid #FFE162; }
    #notification .alert i {
      color: #FFE162; }
  #notification .error {
    color: #E60965;
    border: 2px solid #E60965; }

header {
  height: 8rem;
  margin-bottom: 5rem; }
  header .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  header ul {
    display: inline-block;
    font-size: 2rem;
    padding: 0; }
    header ul li .nav-link {
      color: #2c1c1c;
      background-color: #e2e2e2 !important;
      padding: 0.8rem 2.5rem 0.8rem 2.5rem; }
      header ul li .nav-link.active {
        background-color: #39B8FF !important; }
      header ul li .nav-link i {
        position: relative;
        top: 1px; }
    header ul li:first-child .nav-link {
      border-radius: 1rem 0 0 1rem; }
    header ul li:last-child .nav-link {
      border-radius: 0 1rem 1rem 0; }
  header .mb-3 {
    margin-bottom: 0rem !important; }

#register-tickets .grid-layout {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 2fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  grid-template-areas: "tickets" "resume" "occupancy" "sells"; }

@media only screen and (min-width: 992px) {
  #register-tickets .grid-layout {
    display: grid;
    grid-template-columns: repeat(2, 6fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2rem;
    grid-template-areas: "tickets resume" "tickets occupancy" "tickets sells"; } }

#register-tickets #tickets {
  grid-area: tickets; }

#register-tickets #resume {
  grid-area: resume; }

#register-tickets #occupancy {
  grid-area: occupancy; }

#register-tickets #sells {
  grid-area: sells; }

#register-tickets #tickets form h4 {
  font-size: 2rem; }

#register-tickets #tickets form input[type="text"], #register-tickets #tickets form select {
  border-radius: 0.5rem;
  border: 1px solid #c4c4c4;
  padding: 1rem 1rem;
  width: 100%;
  background-color: white; }

#register-tickets #tickets form .row {
  margin-top: 2rem; }
  #register-tickets #tickets form .row > div {
    margin-bottom: 2rem; }

#register-tickets #tickets form .cost-details {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #register-tickets #tickets form .cost-details label {
    padding-left: 1rem; }
  #register-tickets #tickets form .cost-details input {
    width: 18rem;
    margin-bottom: 1rem; }

#register-tickets #tickets form .button-panel {
  display: flex;
  justify-content: end; }

@font-face {
  font-family: 'bustickets_v1';
  src: url("../fonts/bustickets_v1.ttf?cxzsmg") format("truetype"), url("../fonts/bustickets_v1.woff?cxzsmg") format("woff"), url("../fonts/bustickets_v1.svg?cxzsmg#bustickets_v1") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bustickets_v1' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-pencil:before {
  content: "\e905"; }

.icon-image:before {
  content: "\e90d"; }

.icon-file-text2:before {
  content: "\e926"; }

.icon-ticket:before {
  content: "\e939"; }

.icon-coin-dollar:before {
  content: "\e93b"; }

.icon-location:before {
  content: "\e947"; }

.icon-location2:before {
  content: "\e948"; }

.icon-compass2:before {
  content: "\e94a"; }

.icon-map2:before {
  content: "\e94c"; }

.icon-clock:before {
  content: "\e94e"; }

.icon-calendar:before {
  content: "\e953"; }

.icon-floppy-disk:before {
  content: "\e962"; }

.icon-user:before {
  content: "\e971"; }

.icon-equalizer2:before {
  content: "\e993"; }

.icon-stats-bars:before {
  content: "\e99c"; }

.icon-warning:before {
  content: "\ea07"; }

.icon-notification:before {
  content: "\ea08"; }

.icon-info:before {
  content: "\ea0c"; }

.icon-blocked:before {
  content: "\ea0e"; }

.icon-checkmark:before {
  content: "\ea10"; }

.icon-checkmark2:before {
  content: "\ea11"; }

.icon-circle-right:before {
  content: "\ea42"; }

.icon-circle-left:before {
  content: "\ea44"; }
