#register-tickets {
    .grid-layout {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr 30rem 1fr;
        grid-gap: 2rem;
        grid-template-areas: 
            "tickets"
            "resume"
            "sells";
    }

    @include media-size($md-large,null){
        .grid-layout {
            display: grid;
            grid-template-columns: repeat(2, 6fr);
            grid-template-rows: 30rem 1fr;
            grid-gap: 2rem;
            grid-template-areas: 
                "tickets resume"
                "tickets sells";
        }
    }

    #tickets {
        grid-area: tickets;
    }

    #resume {
        grid-area: resume;
    }

    #occupancy {
        grid-area: occupancy;
    }

    #sells {
        grid-area: sells;
    }    
}